$mainred: #c8102e;
$mainblue: #1d428a;
$maincolor: whitesmoke;

h1{
    margin: 20px auto;
    font-size: 1.05rem;
    color: $maincolor;
    line-height: 1;
}
.footer__text{
    padding: 20px auto;
    font-size: 1.05rem;
    color: $maincolor;
    line-height: 1.75;
}